/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background-color: #114c5f; /* Color de fondo de la página (azul verdoso oscuro) */
    height: 100vh; /* Para que el cuerpo ocupe toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del contenedor del círculo */
#circle-container {
    width: 80%; /* Ancho del contenedor del círculo (80% del ancho de la ventana) */
    padding-bottom: 80%; /* Mantenemos una relación de aspecto cuadrada (80% del ancho para el alto) */
    position: relative;
}

/* Estilos del círculo */
#circle {
    width: 100%; /* Ancho del círculo (100% del ancho del contenedor) */
    height: 100%; /* Alto del círculo (100% del alto del contenedor) */
    background-color: #fff; /* Color de fondo del círculo (blanco) */
    border-radius: 50%; /* Asegura que el círculo sea perfectamente redondo */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos de la imagen */
#circle img {
    max-width: 90%; /* Ajusta el tamaño máximo de la imagen */
    max-height: 90%;
}

