/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background-color: #114c5f; /* Color de fondo de la página (azul verdoso oscuro) */
    height: 100vh; /* Para que el cuerpo ocupe toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilos del contenedor del círculo */
#circle-container {
    position: relative;
    width: 80vw; /* Ancho del contenedor del círculo */
    height: 80vh; /* Alto del contenedor del círculo */
}

/* Estilos del círculo */
#circle {
    width: 60%; /* Ancho del círculo (en porcentaje del contenedor) */
    height: 60%; /* Alto del círculo (en porcentaje del contenedor) */
    background-color: #fff; /* Color de fondo del círculo */
    border-radius: 50%; /* Asegura que el círculo sea perfectamente redondo */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos de la imagen */
#circle img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    max-height: 100%;
}
